[Unit]
Description=Elasticsearch
After=network.target

[Service]
Type=simple
User=elasticsearch
Group=elasticsearch
WorkingDirectory=/opt/elasticsearch-8.17.3
ExecStart=/opt/elasticsearch-8.17.3/bin/elasticsearch
Restart=always
RestartSec=10
LimitNOFILE=65536
SuccessExitStatus=0 1 143
TimeoutStopSec=300
Environment="ES_JAVA_OPTS=-Xms4g -Xmx4g"


[Install]
WantedBy=multi-user.target
